<div class="header" style="box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 22px 18px rgba(0, 0, 0, 0.0417275), 0 7px 5px rgba(0, 0, 0, 0.0282725);">
  <div class="max-w-7xl mx-auto px-4 h-14 sm:px-6">
    <div class="flex justify-between items-center py-2 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <span class="sr-only">Workflow</span>
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
        </a>
      </div>
      <div class="flex justify-end lg:w-0 lg:flex-1">
        <div class="flex justify-between w-52">
          <div class="">
            <a href="#">About</a>
          </div>
          <div class="">
            <a href="#">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>