<div class="relative bg-white w-full">
  <Header/>
  <section class="h-screen content-center justify-center flex">
    <div class="flex bg-white-800 justify-between mt-36 flex-row" style="width:1086px">
      <div class="flex justify-between">
        <img src="assets/images/cover.svg" class="h-80" width="515px" alt="cover">
      </div>
      <div class="flex flex-col justify-between h-80">
        <div class="mt-1">
          <p class="font-bold text-5xl" style="width: 483px;height: 112px">
            FACEBOOK ADS IN 30 SECONDS
          </p>
          <p class="font-normal not-italic leading-6 mt-3 w-96" style="color: #455A64;">
            Grow your business by setting up ads instantly. No expertise needed.
          </p>
        </div>
        <div class="flex flex-row justify-between">
          <input class="w-64 h-14 box-border rounded-lg px-4" value="" placeholder="enter your email here"
                 style="border: 1px solid #106CFF;">
          <button class="w-48 h-14 flex justify-center items-center rounded-lg"
                  style="background: #106CFF;color: #FFFFFF">
            <p>Get early access</p>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="h-screen items-center justify-between flex flex-col" style="color: #FAFCFF">
    <div class="mt-20" style="width: 1158px">
      <Title @title="Platforms we rock in" />
      <div class="flex justify-between items-center mt-20">
        <img style="width: 512px;height: 395px" src="assets/images/social.svg" alt="social"/>
        <div class="h-96" style="width: 530px">
          <div class="flex flex-col">
            <p class="font-bold text-2xl" style="color:#263238;">Facebook Ads</p>
            <p class="text-lg mt-4" style="color: #455A64">Get more likes, shares and enquiries with Facebook Ads and
              reach thousands of buyers worldwide.</p>
          </div>
          <div class="flex flex-col mt-10">
            <p class="font-bold text-2xl" style="color:#263238;">Instagram Ads</p>
            <p class="text-lg mt-4" style="color: #455A64">Increase your followers and generate more sales with visually
              attractive Instagram Ads.</p>
          </div>
          <div class="flex flex-col mt-10">
            <p class="font-bold text-2xl" style="color:#263238;">Google Ads</p>
            <p class="text-lg mt-4" style="color: #455A64">Be the first business to show up on Google right when your
              customers search for you. </p>
          </div>
          <button class="w-48 h-14 flex box-border justify-between rounded-lg items-center px-8 mt-16"
                  style="border: 1px solid #106CFF;">
            <p class="" style="color: #106CFF;">Explore</p>
            <img src="assets/images/arrow.svg" width="38px" alt="arrow"/>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="h-screen items-center justify-between flex flex-col">
    <div class="mt-20" style="width: 1158px">
      <Title @title="Localised Ad Campaigns" />
      <div class="flex justify-between items-center mt-20">
        <p class="text-2xl" style="width: 455px;color: #455A64">Get more in-store visits and bookings when you run localised ad campaigns and stand out from other local businesses.</p>
        <img style="width: 470px;height: 366px" src="assets/images/influence.svg" alt="influence"/>
      </div>
    </div>
  </section>
</div>